/backend/MoviesApp/MoviesApp/obj
/backend/MoviesApp/MoviesApp/bin
/backend/MoviesApp/.vs
/backend/MoviesApp/MoviesApp.Application/obj
/backend/MoviesApp/MoviesApp.Application/bin
/backend/MoviesApp/MoviesApp.Services/obj
/backend/MoviesApp/MoviesApp.Services/bin
