/backend/MoviesApp/MoviesApp/obj
/backend/MoviesApp/MoviesApp/bin
/backend/MoviesApp/.vs
/backend/MoviesApp/MoviesApp.Application/obj
/backend/MoviesApp/MoviesApp.Application/bin
/backend/MoviesApp/MoviesApp.Services/obj
/backend/MoviesApp/MoviesApp.Services/bin
backend/MoviesApp/MoviesApp/appsettings.Development.json
/backend/MoviesApp/Movies.Api/obj
/backend/MoviesApp/Movies.Api/bin
/backend/MoviesApp/Movies.Application/obj
/backend/MoviesApp/Movies.Application/bin
/backend/MoviesApp/Movies.Services/obj
/backend/MoviesApp/Movies.Services/bin
/backend/MoviesApp/Movies.Api/Properties/launchSettings.json
/backend/MoviesApp/obj/Movies.Api.EntityFrameworkCore.targets
/backend/MoviesApp/obj/Movies.Services.EntityFrameworkCore.targets
/backend/MoviesApp/Movies.Api/appsettings.Development.json
frontend/movies-app/env
